/* NavBar.css */

.custom-navbar {
  background-color: #020202b4;
  padding: 10px;
}

.navbar-brand {
  color: #d9ff00;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.navbar-toggler {
  border-color: #d9ff00;
}

.navbar-toggler-icon {
  background-color: #d9ff00;
}

.navbar-nav .nav-link {
  color: #343a40;
}

.navbar-nav .nav-link:hover {
  color: #d9ff00;
}

.cart-widget {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.item-count {
  background-color: #d9ff00;
  color: #000000;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}

/* Estilos adicionales para el menú desplegable */
@media (max-width: 767px) {
  .custom-navbar-collapse {
    position: absolute;
    top: 60px; /* Ajusta según sea necesario para evitar la superposición con la barra de navegación */
    right: 0;
    background-color: #020202b4;
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: calc(100vh - 60px); /* Ajusta según sea necesario para evitar que el menú sea más alto que la ventana */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado largo */
  }
  
  .custom-navbar-collapse ul {
    list-style-type: none;
    padding: 0;
  }
  
  .custom-navbar-collapse .nav-item {
    margin-bottom: 10px;
  }
  
  .custom-navbar-collapse .nav-link {
    color: #d9ff00;
    text-decoration: none;
    display: block;
  }
  
  .custom-navbar-collapse .nav-link:hover {
    color: #ffffff;
  }
  
  /* Estilos para el overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    z-index: 999; /* Z-index mayor que el menú emergente para cubrir todo el contenido */
  }
}
