
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
  }
  
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-left: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: #ffc107;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #f7e706;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #000000;
  }
  