/* Components/FondoEcommerce/FondoEcommerce.css */

.fondo-ecommerce {
    background: linear-gradient(to right, #fdcb6e, #000000); /* Cambia los colores según tu paleta de marca */
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .contenido-fondo {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .greeting {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Agrega estilos adicionales según sea necesario */
  